
 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
    
*{
    margin:0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

    margin: 0px;
    background-color:white;
    font-family:"Raleway", sans-serif;
    
    
}
.raleway-uniquifier {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    
  }
/*.lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color:white;
  }
  
*/

/*.navbar */
.navbar{
    padding: 10px 0;
    background-color: #74009D;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center ;
    
    
}

.logo-img{
    margin-left: 20%;
   padding: 0%;
   flex: 25%;
   
   text-align: center;
   flex-flow: row;
   height: 70px;
    
}
.menu-topo{
    flex: 80%;
    
    margin-right: 5%;
    padding: 20px;
    text-align: right;
}  
    



ul{
    display: inline;
    justify-content: space-around;
    
    

}

li{
    display: inline;
    font-size: 25px;
    padding: 40px;
    
}
a{
color:white;
text-decoration: none;
 
}
a:hover{
    text-decoration: underline;
    
}
/*underline pag atual */
.pagina-atual{
    font-weight: bold;
    text-decoration: underline;
}


/*CONTAINER SOBRE */
.bloco-container-sobre{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    
    margin-left: 5%;
    gap: 40px;
}
.bloco-texto {
   
   width: 100%; 
   max-width: 500px;
   font-size: 20px;
   
   
}
.bloco-imagem{
   
   width: 80%;
   height: 350px;
   margin-right: 5%;
  
   
   
}
.bloco-imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Isso faz a imagem preencher o espaço sem deformar */

}
.frase-sobre{
    margin-left: 20%;
    margin-right: 5%;
    font-size: 20px;
    
}
.frase-dois{
    color: #74009D;
    margin-left: 38%;
    margin-right: 5%;
    font-size: 22px;
    font-weight: bold;
    font-style: oblique;
}
.frase-dois:hover{
    color: #a300d9;
}
/*DESTAQUE ELEMENTOS TEXTO */
.destaque {
    color: #74009D; 
    font-weight:bold;
    font-size: 22px;
    
    font-family: inherit; 
    font-weight: inherit; 
}
.destaque:hover{
    color: #a300d9;
    font-weight: bold;
}

/*CONTAINER VALORES */
.container-valores{
    display: flex;
    flex-flow: row;
    justify-content: center;
    
    margin-left: 5%;
    gap: 70px;
    font-size: 20px;
}


/*titulos // visao esta incluso missao*/
.titulo-valores h2, .titulo-visao, .bloco-titulo h1{
    text-shadow: 1px 1px 3px #ccc;
    color:#74009D;
    text-align:  20px;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 2.5rem;  
}
/*hover  TITULOS */
.titulo-visao:hover, .titulo-valores h2:hover, .bloco-titulo h1:hover{
    color: #a300d9; 
    
    text-shadow: 2px 2px 5px #bbb; 
}

.container-visao-missao{
    /*container visão e missao juntos */
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
}

footer{
    position: relative;
    padding: 10px 0;
    background-color: #74009D;
    font-size: 20px;
    color: white;
}

footer>p{
    text-align: center;
}